<svg
   width="61.214005mm"
   height="8.1787996mm"
   viewBox="0 0 61.214004 8.1787997"
   version="1.1"
   id="svg1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1" />
  <g
     id="layer1"
     transform="translate(-96.110938,-135.90736)">
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.46667px;line-height:1;font-family:Cantarell;-inkscape-font-specification:Cantarell;stroke-width:0.264583"
       x="95.408203"
       y="142.16423"
       id="text1"><tspan
         id="tspan1"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.46667px;font-family:Cantarell;-inkscape-font-specification:Cantarell;stroke-width:0.264583"
         x="95.408203"
         y="142.16423"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.46667px;font-family:Cantarell;-inkscape-font-specification:Cantarell;fill:#60a5fa"
           id="tspan3"
           dx="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0">notes.<tspan
   style="font-size:8.46667px;fill:#3b82f6"
   id="tspan2">ejmastnak</tspan></tspan></tspan></text>
  </g>
</svg>
